@import url("https://fonts.googleapis.com/css?family=Yantramanav");
body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [nav-start] 60px [nav-end content-start] auto [content-end];
  background-color: #f4f4f4;
  font-family: "Yantramanav", sans-serif; }

nav {
  grid-column: 1 / 2;
  grid-row: nav-start / nav-end;
  background: linear-gradient(to top, #bebebe, #dfdfdf);
  display: grid;
  grid-template-columns: calc(50% - 400px) [logo-start] 40px [logo-end] 260px [button-start] 500px [button-end] 1fr;
  grid-template-rows: 100%; }
  nav .logo {
    grid-column: logo-start / logo-end;
    grid-row: 1 / 2;
    align-self: center; }
  nav h1 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: center;
    text-align: center;
    font-size: 30px;
    height: 38px;
    color: #6f6f6f; }
  nav button {
    grid-column: button-start / button-end;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    width: 170px;
    height: 35px;
    border: none;
    background: linear-gradient(to top, #1171ff, #6aa6ff);
    color: white;
    font-size: 14px;
    border-radius: 6px; }
    nav button:hover {
      background: none;
      background-color: #0468ff;
      cursor: pointer; }

div.page-content {
  grid-column: 1 / 2;
  grid-row: content-start / content-end;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%; }
  div.page-content div.description {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 500px;
    height: auto;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    justify-self: end;
    align-self: start;
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    div.page-content div.description h2 {
      width: 90%;
      height: auto;
      margin: 20px 5%;
      color: #6f6f6f;
      font-size: 24px;
      text-align: center; }
    div.page-content div.description p.opis {
      width: 90%;
      margin: 10px 5%;
      color: #8b8b8b;
      font-size: 20px;
      text-align: center; }
    div.page-content div.description p.podpis {
      width: 80%;
      margin: 10px 10% 20px 10%;
      color: #8b8b8b;
      font-size: 14px;
      text-align: center; }
  div.page-content form.login {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: start;
    margin: 70px 0px 0px 75px;
    width: 350px; }
    div.page-content form.login img {
      width: 190px;
      margin: 20px 80px; }
    div.page-content form.login input[type=text], div.page-content form.login input[type=password] {
      width: calc(100% - 10px);
      padding-left: 10px;
      height: 40px;
      border: 1px solid #eaeaea;
      border-radius: 8px;
      color: #6f6f6f;
      font-size: 20px;
      margin: 5px 0px; }
      div.page-content form.login input[type=text]:focus, div.page-content form.login input[type=password]:focus {
        border: 1px solid #1171ff; }
    div.page-content form.login input[type=submit] {
      width: 150px;
      height: 35px;
      margin: 20px 100px;
      border: none;
      background: linear-gradient(to top, #1171ff, #6aa6ff);
      color: white;
      font-size: 18px;
      border-radius: 6px; }
      div.page-content form.login input[type=submit]:hover {
        background: none;
        background-color: #0468ff;
        cursor: pointer; }

/*# sourceMappingURL=style.css.map */
